
<div id="page-content">
<div class="container" id="home-container">
<div class="p-5 mb-4 bg-body-tertiary text-white rounded-3 jumbontron">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Alpha blog</h1>
        <p class="col-md-8 fs-4">Createm, Write, and Share what you love.</p>
        <button class="btn btn-success btn-lg" type="button">Sign up</button>
      </div>
  
    </div>
    
</div>




