<footer id="sticky-footer" class="py-4 bg-dark text-white">
  <div class="container text-center ">
  <small>Copyright &copy; <%= link_to "Chia-Sheng Cheng", 
  "https://store.line.me/stickershop/product/22518303/zh-Hant", class: "text-white" %></small>
  </div>
</footer>